body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.container {
  display: flex;
  position: fixed;
  width: 375px;
  height: 812px;
  border: 1px solid black;
  background-color: black;
  border-radius: 50px;
  position: relative;
  justify-content: center;
}
#display {
  width: 375px;
  height: 30%;
  display: flex;
  margin-top: 1em;
}
#mininav {
  display: flex;
  position: fixed;
  list-style: none;
  width: 310px;
  justify-content: flex-end;
}
#mininav #img {
  right: 0;
}
#clock {
  color: white;
  margin: 0 14em;
}
#display img {
  display: flex;
  color: white;
  width: 14px;
  height: 12px;
  margin: 2px;
}
p {
  font-size: 48px;
  margin-right: 1.5em;
  margin-top: 5em;
}
.button {
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  font-size: 40px;
  background-color: #333333;
  color: white;
}
.button img {
  width: 30px;
  height: 33px;
  color: white;
}
.button.operator {
  background-color: #f3a33c;
}
.button.other {
  background-color: #a5a5a5;
  color: black;
}
#buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 50%;
  width: 337px;
  height: 447px;
  position: absolute;
  bottom: 0;
  margin-bottom: 2em;
}
.zeroBtn {
  width: 167px;
  border-radius: 47px;
}
#end {
  width: 137px;
  height: 5px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  bottom: -15px;
  left: 10%;
  transform: translate(45%);
}
