.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 60%;
  font-family: "Noto Serif", serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.formContainer {
  padding-left: 3em;
  margin-top: 7em;
}
.formPart {
  display: flex;
  flex-direction: row;
  width: 750px;
}
.input {
  margin-left: 20px;
}
input {
  width: 200px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
}
input:focus {
  outline-color: rgb(81, 81, 219);
  box-shadow: 0 0 5pt 2pt #d3d3d3;
}
label {
  font-size: 0.8rem;
  letter-spacing: 1.5px;
}
button {
  margin-top: 2em;
  background-color: #f05e23;
  color: white;
  font-weight: bold;
  font-size: 0.85rem;
  padding: 1em 4em;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 5pt #d3d3d3;
  cursor: pointer;
}
.login {
  color: #f05e23;
}
.left-section {
  flex-grow: 1;
  position: relative;
}
.logo {
  background-color: black;
  opacity: 70%;
  position: absolute;
  top: 25%;
  width: 100%;
  padding: 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#logo {
  width: 100px;
  margin-right: 1em;
}
@font-face {
  font-family: "Norse-Bold";
  src: url("Norse-Bold\ \(1\).otf") format("opentype");
}
.odin {
  font-family: "Norse-Bold";
  font-size: 6rem;
  color: white;
  text-align: center;
}
#img {
  width: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  color: aliceblue;
  font-weight: 300;
  padding: 0 5em;
}
